<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Position of the data within the file to be analyzed-->
		<add key="DOMAIN_CODE" value="0" />
		<add key="PAGE_TITLE" value="1" />
		<add key="COUNT_VIEWS" value="2" />
		<add key="NUMBER_COLUMNS_GZ" value="4" />

		<!--Location of the folder where the .gz will be downloaded and where we will host our binary file that will contain the requested information-->
		<add key="DOWNLOADS_PATH" value="D:\Users\Joel\Downloads" />
		<add key="BD_FILE_PATH" value="D:\Users\Joel\Downloads" />
		<add key="BD_FILE_NAME" value="bd_pageviews" />

		<!--Root url of pageviews-->
		<add key="URL_BASE" value="https://dumps.wikimedia.org/other/pageviews" />

		<!--Position of the time data in the name of the file to be analyzed-->
		<add key="index_year" value="10" />
		<add key="index_month" value="14" />
		<add key="index_day" value="16" />
		<add key="index_hour" value="19" />

		<!--In case you want to load data from a specific day, set MANUAL_UPLOAD = 1 to activate this, otherwise we only consider this day to the download-->
		<add key="MANUAL_DOWNLOAD" value="0" />
		<add key="MANUAL_YEAR" value="2015" />
		<add key="MANUAL_MONTH" value="05" />
		<add key="MANUAL_DAY" value="01" />

		<!--to regenerate the report with the existing data in db, without doing a new data download-->
		<add key="ONLY_SEE_REPORT" value="0" />

		<!--Path and name of the physical report-->
		<add key="PATH_REPORT" value="D:\Users\Joel\Downloads" />
		<add key="NAME_REPORT" value="ReportPageviews" />
	</appSettings>
</configuration>